.container {
    background-color: lightblue;
    padding: 20px;
    border: 5px solid blue;
    margin: 0px 0px 10px;
    height: 10vh;
    display: flex;
    gap: 0.5rem;
    
}

.item {
    background-color: peachpuff; 
    border: 5px solid salmon;
    height: auto;
    flex: 1;
    display: flex;
}

.items {
    background-color: peachpuff;
    border: 5px solid red;
    height: auto;
    flex: 1;
}

.first-item {
    padding: 4px;

}

.part {
    background-color: peachpuff;
    border: 5px solid red;
    height: auto;
    flex: 1;

}

.first-container {
    background-color: lightgreen;
    border: 5px solid green;
    padding: 2rem;
}

.second-container {
    display: flex;
    gap: 0.5rem;
    
    
    
}

.container-section-left {
    background-color: peachpuff;
    border: 5px solid red;
    height: 15rem;
    flex: 1;
}

.container-section-right {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 0.5rem;
    
}

.container-item {
    background-color: peachpuff;
    border: 5px solid red;
    flex: 1;
}

.third-container {
    background-color: rgb(5, 0, 14);
    border: 5px solid rgb(56, 144, 198);
    margin: 10px 0 0;
    height: 10vh;
    padding: 20px;
    display: flex;
    gap: 0.5rem;
}

.container-center-box {
    display: flex;
    flex: 1;
    gap: 0.5rem;
}

.container-main {
    background-color: rgb(213, 118, 16);
    border: 5px solid rgb(126, 70, 6);
    height: auto;
    display: flex;
    flex: 1;
}

.container-part {
    background-color: peachpuff;
    border: 5px solid salmon;
    height: auto;
    flex: 1;
}